@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "KoPub Batang";
  src: url("https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "KoPub Dotum", serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
