@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "//cdn.jsdelivr.net/npm/font-kopubworld@1.0";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .clip-note-corner {
    clip-path: polygon(0 0, calc(100% - 24px) 0, 100% 24px, 100% 100%, 0 100%);
  }
  .fold-note-yellow {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24px 100%, 0 calc(100% - 24px));
    position: relative;
  }

  .fold-note-yellow::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 24px solid #fef08a;
    border-top: 24px solid #fef9c3; /* 노란 포스트잇 한 톤 진한 색상 */
    z-index: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
  }

  .fold-note-cyan {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24px 100%, 0 calc(100% - 24px));
    position: relative;
  }

  .fold-note-cyan::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 24px solid #a5f3fc;
    border-top: 24px solid #cffafe; /* 파란 포스트잇 한 톤 진한 색상 */
    z-index: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
  }
  .fold-note-fuchsia {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24px 100%, 0 calc(100% - 24px));
    position: relative;
  }

  .fold-note-fuchsia::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 24px solid #f5d0fe;
    border-top: 24px solid #fae8ff; /* 핑크 포스트잇 한 톤 진한 색상 */
    z-index: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
  }
  .fold-note-emerald {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 24px 100%, 0 calc(100% - 24px));
    position: relative;
  }

  .fold-note-emerald::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 24px solid #a7f3d0;
    border-top: 24px solid #d1fae5; /* 에메랄드 포스트잇 한 톤 진한 색상 */
    z-index: 0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1));
  }

  .clip-zigzag {
    clip-path: polygon(
      0 0,
      4% 10%,
      0% 20%,
      4% 30%,
      0% 40%,
      4% 50%,
      0% 60%,
      4% 70%,
      0% 80%,
      4% 90%,
      0 100%,
      100% 100%,
      96% 90%,
      100% 80%,
      96% 70%,
      100% 60%,
      96% 50%,
      100% 40%,
      96% 30%,
      100% 20%,
      96% 10%,
      100% 0
    );
  }
}

html,
body {
  font-family: "KoPub Dotum", serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: "KoPub Batang", serif;
  font-weight: bold;
  font-size: 2rem;
  color: var(--foreground);
}

h2 {
  font-family: "KoPub Batang", serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--foreground);
}

h3 {
  font-family: "KoPub Batang", serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--foreground);
}
